
.title {
    --bs-accordion-active-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    color: #666;
    border: none;
}

.accordion {
   list-style: none;
}
.title:hover {
    cursor: pointer;
 }
 .title:active {
    background-color: #47b475;
    color: #f5f5f5;
 }
 .active-title {
   background-color: #47b475 !important;
    color: #f5f5f5;
 }
.title{
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
   background-color: #fff;
   margin: 10px 10px 0px 10px;
   text-align: left;
 }
 .content {
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    text-align: left;
    margin: 0 10px 10px 10px;
    
 }
 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
 }
.accordion .content p {
   border: 1px solid rgb(226, 222, 222);
    padding: 13px;
}